<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <div class="main-content">
          {{>header}}
          
    <img class="my-foto" src="img/me.jpg" />

    <p>It is my first Project using Js, NodeJs and Express</p>
    </div>
    
    {{>footer}}
  </body>
</html>
